<header _ngcontent-lwh-c1="">
    <div>
        <div _ngcontent-lwh-c2="" class="top-panel meto-bg-section-header row m-auto">
            <div _ngcontent-lwh-c2="" class="nav-left col-4 col-md-3 px-0">
                <div _ngcontent-lwh-c2="" class="menu-icon meto-bd-menu mr-l">
                    <!---->
                    <!---->
                    <div _ngcontent-lwh-c2="" class="left-menu-icon">
                        <!----><img _ngcontent-lwh-c2=""
                            src="assets/templates/template2/images/skins/jio/collapse-menu.svg"></div>
                    <!---->
                </div><a _ngcontent-lwh-c2="" class="logo ml-2">
                    <!----><img _ngcontent-lwh-c2="" src="assets/templates/template2/images/skins/jio/logo.png"></a>
            </div>
            <!---->
            <!---->
            <div _ngcontent-lwh-c2="" class="nav-right login mr-3">
                <div _ngcontent-lwh-c2="" class="mr-5 d-none d-xl-flex header-content-info">
                    <div>
                        <div _ngcontent-lwh-c5="" class="time-contain d-flex align-items-center text-nowrap mr-1"><i
                                _ngcontent-lwh-c5="" class="far fa-clock fa-flip-horizontal mr-1"></i><span
                                _ngcontent-lwh-c5="">Fri Jul 31, 2020 </span><span _ngcontent-lwh-c5=""
                                class="time ml-1 text-center"> 18:45:24</span><span _ngcontent-lwh-c5=""
                                class="ml-1">IST</span></div>
                    </div>
                </div><button _ngcontent-lwh-c2="" class="btn-in-out">Login</button>
            </div>
        </div>
    </div>
</header>
