<div _ngcontent-lwh-c3="" class="page-container">
    <div _ngcontent-lwh-c3="" class="sidebar-header-wrapper">
        <div _ngcontent-lwh-c3="" _nghost-lwh-c10="" class="ng-pristine ng-valid ng-touched">
            <div _ngcontent-lwh-c10="" class="completer-holder" ctrcompleter=""><input _ngcontent-lwh-c10=""
                    autocapitalize="off" autocomplete="off" autocorrect="off"
                    class="completer-input searchinput ng-pristine ng-valid ng-touched" ctrinput="" type="search"
                    id="searchMarket" name="" placeholder="Search event" maxlength="100" tabindex="0">
                <!---->
                <div _ngcontent-lwh-c10="" class="completer-dropdown-holder">
                    <!---->
                </div>
            </div>
    <div><i _ngcontent-lwh-c3="" class="search-icon fa fa-search"></i>
        <div _ngcontent-lwh-c3="" class="search-result">
            <ul _ngcontent-lwh-c3="" class="result-list"></ul>
        </div>
    </div>
    <div _ngcontent-lwh-c3="" id="left-menu">
        <div _ngcontent-lwh-c3="" class="loading-icon">
            <!---->
        </div>
        <!---->
        <div _ngcontent-lwh-c3="" class="up-levels">
            <div _ngcontent-lwh-c3="" class="item-level0">
                <!----> Sports </div>
        </div>
        <div _ngcontent-lwh-c3="" class="up-levels">
            <div _ngcontent-lwh-c3="" class="item-level1">
                <!----> Cricket </div>
        </div>
        <div _ngcontent-lwh-c3="" class="up-levels">
            <div _ngcontent-lwh-c3="" class="item-level2 active">
                <!----> Test Matches </div>
        </div>
        <div _ngcontent-lwh-c3="" class="downs-levels">
            <!---->
            <div _ngcontent-lwh-c3="" class="level">
                <!---->
                <div _ngcontent-lwh-c3="" class="item-level3">
                    <!----> England v Pakistan </div>
                <!---->
            </div>
            <!---->
        </div>
    </div>
</div>